include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt

recursive-include alazab_site *.css
recursive-include alazab_site *.csv
recursive-include alazab_site *.html
recursive-include alazab_site *.ico
recursive-include alazab_site *.js
recursive-include alazab_site *.json
recursive-include alazab_site *.md
recursive-include alazab_site *.png
recursive-include alazab_site *.py
recursive-include alazab_site *.svg
recursive-include alazab_site *.txt

recursive-exclude alazab_site *.pyc

